body {
    display: grid;
    place-content: center;
}

main {
    --card-width: 30rem;
    width: var(--card-width);
    height: calc(var(--card-width) / 1.75);
    border: 1px solid #333;

    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

@media (max-width: 32rem) {
    main {
        background-color: red;
        --card-width: 17rem;
        height: calc(var(--card-width) * 1.75);
    }
}